<button (click)="start()">Start</button>

<button (click)="addItem()">Add Item</button>

<button (click)="addObstacle('debounce')">debounceTime</button>

<button (click)="addObstacle('throttle')">throttleTime</button>
<button (click)="addObstacle('combineLatest')">combineLatest</button>
<button (click)="addObstacle('merge')">merge</button>
<button (click)="addObstacle('skip')">skip</button>

<button (click)="addEmitter('click')">Add Click Emitter</button>
<button (click)="addEmitter('interval')">Add Interval Emitter</button>

<button (click)="addObstacle('consumer')">Consumer</button>
<button (click)="addCounter()">Counter</button>

<div style="display: flex; margin-top: 50px">
  @for (emitter of emitters; track emitter) {
    <div
      (contextmenu)="onEmitterContextMenu($event, emitter)"
      [style.transform]="'translate(' + emitter.x + 'px,' + emitter.y + 'px)'"
      [style.background]="emitter.color"
      [style.width]="emitter.width + 'px'"
      class="emitter"
      (click)="emitter.activate()"
    >
      @if (emitter.type === "interval") {
        <input
          [(ngModel)]="emitter.property1"
          style="field-sizing: content; background: transparent; border: none"
        />
      }
    </div>
  }

  <div style="position: relative">
    @for (item of items; track item) {
      <div
        style="position: absolute; top: 0; left: 0; will-change: transform"
        [style.transform]="
          'translate(' + item.position + 'px,' + item.y + 'px)'
        "
      >
        @for (color of item.colors; track color) {
          @if ($count > 1) {
            <div
              [style.background]="color"
              [style.top]="-10 + ($index * 20) / $count + 'px'"
              [style.height]="20 / $count + 'px'"
              class="item"
            ></div>
          } @else {
            <div [style.background]="color" class="item round"></div>
          }
        }
      </div>
    }

    @for (counter of counters; track counter) {
      <div
        [draggable]
        [item]="counter"
        class="counter"
        [style.width]="counter.width + 'px'"
        [style.height]="counter.height + 'px'"
        [style.transform]="'translate(' + counter.x + 'px,' + counter.y + 'px)'"
      >
        {{ counter.count }}
        x: {{ counter.x }} y: {{ counter.y }}
      </div>
    }

    @for (operator of operators; track operator) {
      <div
        (click)="selectedOperator = operator"
        (contextmenu)="onObstacleContextMenu($event, operator)"
        [draggable]
        [item]="operator"
        class="obstacle"
        [style.width]="operator.width + 'px'"
        [style.height]="operator.height + 'px'"
        [style.transform]="
          'translate(' + operator.x + 'px,' + operator.y + 'px)'
        "
      >
        {{ operator.type }}
        @if (
          operator.type === "throttle" ||
          operator.type === "debounce" ||
          operator.type === "skip"
        ) {
          <br />
          <input
            style="field-sizing: content"
            [(ngModel)]="operator.throttleTime"
          />
        }
        @if (operator.type === "consumer") {
          {{ operator.count }}
        }
      </div>
    }
  </div>
</div>

<div style="position: absolute; bottom: 0">
  @if (selectedOperator) {
    <input
      [(ngModel)]="selectedOperator.height"
      (ngModelChange)="updateOperatorInputs()"
    />
  }
</div>

<canvas #canvas width="1400" height="900"></canvas>

<p-contextMenu #contextMenu appendTo="body" />
