@if (visible) {
  <stream-viz #streamViz [verticalGap]="verticalGap()" [speed]="speed" [rootEmitterStyles]="emitterStyles()">

    <div sidebar-item class="sidebar-section">
      <div></div>
      <p-button (onClick)="logSerializedState(streamViz.serializeState2())" severity="secondary" label="Generate" />
    </div>
  </stream-viz>
}
<!-- <div style="height: 150px; background: #000; display: flex; flex-direction: column">
  <button (click)="visible = !visible">toggle</button>

  <div style="height: 20px;">
    <p-slider [(ngModel)]="speed" [min]="0.2" [max]="10" [step]="0.1" styleClass="w-14rem" />
  </div>
  <div style="height: 20px;">
    <p-slider [(ngModel)]="emitterWidth" [min]="20" [max]="300" [step]="1" styleClass="w-14rem" />
  </div>
  <div style="height: 20px;">
    <p-slider [(ngModel)]="emitterHeight" [min]="20" [max]="300" [step]="1" styleClass="w-14rem" />
  </div>

  <div style="height: 20px;">
    <p-slider [(ngModel)]="verticalGap" [min]="20" [max]="200" [step]="1" styleClass="w-14rem" />
  </div>
</div> -->
